include header.pug
div.content.noLanding
	div#productImageAndDescription.row
		div#productImage.small-12.medium-6.columns
			div.title.hide-for-medium
				h3 #{data.product.title}
				h5 #{data.product.shortDescription}
			img.show-for-medium#mainProductImage(src="/public/images/" + data.product.productId + ".jpg")
			div.owl-carousel.owl-theme#moreImagesCarousel
				div.moreImagesCarouselImage
					img(src="/public/images/" + data.product.productId + ".jpg")
				div.moreImagesCarouselImage
					img(src="/public/images/" + data.product.productId + ".jpg")
				div.moreImagesCarouselImage
					img(src="/public/images/" + data.product.productId + ".jpg")
				div.moreImagesCarouselImage
					img(src="/public/images/" + data.product.productId + ".jpg")
				div.moreImagesCarouselImage
					img(src="/public/images/" + data.product.productId + ".jpg")
				div.moreImagesCarouselImage
					img(src="/public/images/" + data.product.productId + ".jpg")
		#description.small-12.medium-6.columns
			div.title.show-for-medium
				h3 #{data.product.title}
				h5 #{data.product.shortDescription}
			div#priceAndRating.row
				div#price.small-6.columns
					h1 #{data.product.displayPrice}
				div#rating.small-6.columns
					div
						i.fa.fa-star.litStar
						i.fa.fa-star.litStar
						i.fa.fa-star.litStar
						i.fa.fa-star.litStar
						i.fa.fa-star
						span (162)
			div#dimensionsAndItemCode.row
				div#dimensions.small-7.columns
					b.text Size: 
					span.data  #{data.product.dimensions.height} x #{data.product.dimensions.width} x #{data.product.dimensions.depth}
				div#itemCode.small-5.columns
					b.text Item Code: 
					span.data #{data.product.productId}
			div#colours
				span.text Colour:
				div
					a(href="/")
						div.colour.active(style="background-color:red;")
					a(href="/")
						div.colour(style="background-color:blue;")
					a(href="/")
						div.colour(style="background-color:green;")
					a(href="/")
						div.colour(style="background-color:yellow;")
					a(href="/")
						div.colour(style="background-color:purple;")
			div#addToBasketAndQuantity
				div#quantity.small-4.columns
					select(href="/")
						option Qty
						option ----------
						option 1
						option 2
						option 3
						option 4
						option 5
						option 6
						option 7
						option 8
						option 9
				div#addToBasket.small-8.columns
					a(href="/") Add to Basket
			div#wishList
				a(href="/") Save to wishlist
		div#more-info.show-for-medium
			h5 More Info
			p #{data.product.longDescription}
	div#more-info.hide-for-medium
		h5 More Info
			p #{data.product.longDescription}
	div.divider.row
	div#seeAlso.row
		h3 You Might Also Like
		h5 Get 10% Off When You Buy These Items Together
		div.owl-carousel.owl-theme#seeAlsoCarousel
			each product in data.product.similarProducts
				div.seeAlsoItem
					div.seeAlsoCarouselImage
						img(src="/public/images/" + product.productId + ".jpg")
					div.seeAlsoDetails
						h6.seeAlsoTitle #{product.title}
						h6.seeAlsoPrice #{product.displayPrice}
			
include footer.pug