include header.pug
div.content#nonLandingPage
	div#advancedSearch.row
		div#accordion
			h5 Filtered Search
				i.fa.fa-chevron-down
		div#filters.row
			each filter in data.filters
				div.filter#type.small-12.medium-6.large-3.columns(value=filter.title)
					select
						option #{filter.title}
						option ----------
						each option in filter.options
							option(value=option) #{option}
			div#submitNewSearch
				div.submit
					a Refine Search
	if data.products.length > 0
		div#items 
			div.row
				each product in data.products
					div.item.small-12.medium-4.large-3.columns.left
						div.image
							a(href="/product?productId=" + product.productId)
								img.searchProductImage(src="/public/images/" + product.productId + ".jpg")
						div.searchItemInfo
							h6 #{product.title}
							h6 #{product.displayPrice}
							i.fa.fa-heart
	else 
		h5#noResults There are no results for your search. Try broadening your search.

include footer.pug